/* this makes sure that wvwrything thats on the page is 100%*/
html, body { 
    background: black no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

  .amogus{
    color: red;
    text-align: center;
    font-size: 6vw;
}

.text {
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 2vw;
}

.ps {
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
}

.end{
    color: rgb(253, 253, 253);
    margin-left: 85%;
    font-size: 2vw;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}