/* this makes sure that wvwrything thats on the page is 100%*/
html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

  h1{
    color: red;
    text-align: center;
    font-size: fit-content;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}