/* this makes sure that evwrything thats on the page is 100%*/
html,
body {
  background: pink no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 2vw;
  font-family: comic sans ms, cursive, sans-serif;
  text-align: center;
  color: black;
  position: relative;
}

h2 {
  font-size: 1.5vw;
  font-family: comic sans ms, cursive, sans-serif;
  text-align: center;
  color: black;
  position: relative;
}

video {
  display: block;
  width: 40vw;
  height: auto;
  margin: auto;
}

#JS-Not-Found {
  color: red;
  font-size: 2.5vw;
  text-align: center;
}

#title {
  font-size: 3.4vw;
  font-family: comic sans ms, cursive, sans-serif;
  text-align: center;
  color: black;
  position: relative;
}

/*The control panel to navigate on the website - lists all subpages and contains anchors
to them*/
#panel {
  display: block;
  background-color: rgb(0, 224, 215);
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 12;
  left: 1cm;
  width: 15vw;
  font-size: bigger;
  font-family: comic sans ms, cursive, sans-serif;
  text-align: center;
}

/*This is to remove the link markdown from the buttons*/
#panel a {
  text-decoration: none;
}

/*In index.html - our names*/
#credits {
  position: relative;
  color: rgb(253, 253, 253);
  margin-left: 85%;
  font-size: 2vw;
}

/*The thoughts that Ania and Darek may perhaps want to put on the page.
Temporarily (?) occupied by my own wisdom*/
#wisdom {
  display: block;
  background-color: rgb(255, 208, 203);
  width: 40vw;
  height: auto;
  position: relative;
  margin: auto;
  font-family: comic sans ms, cursive, sans-serif;
  font-size: 2vw;
}

/*The list of all the presents they would love to get (prezenty.html)*/
/*This is a container div*/
#presents {
  width: 50vw;
  height: auto;
  margin: auto;
}

/*Actual items on the list*/
#presents li {
  font-size: 2.3vw;
  font-family: comic sans ms, cursive, sans-serif;
  color: black;
  text-align: left;
}

#present-booking > *:not(h2) {
  display: block;
  margin: auto;
  width: 25vw;
  height: 0.25in;
}

/*Things from else.html - the page containing extra informations about the wedding*/
#info-board {
  width: 60vw;
  margin: auto;
  text-align: left;
  font-family: comic sans ms, cursive, sans-serif;
  font-size: 2vw;
}

#info-board li {
  margin-bottom: 20px;
}

/*The pictures on the top of all pages - the container*/
#title-pictures {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0;
  padding: 0;
}

/*The pictures on the top of all pages - the items*/
.title-picture {
  margin: 0;
  width: 16.7vw;
  height: auto;
}

/*Minimaps in map.html*/
.map {
  display: block;
  width: 40vw;
  height: 30vw;
  position: relative;
  margin: auto;
}

/*Dunno what this originally was, but it's used as a comment to the video in usimages.html*/
.ps {
  font-family: comic sans ms, cursive, sans-serif;
  text-align: center;
}

/*The buttons on the control panel*/
.button {
  background-color: aqua;
  position: static;
  border-radius: 20px 20px 20px 20px;
  width: 80%;
  height: 1cm;
  margin: auto;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
  padding-top: 5%;
  padding-bottom: auto;
  padding-left: 0.2cm;
  padding-right: 0.2cm;
  font-family: Calibri;
  font-size: 16px;
  text-align: inherit;
  color: white;
}

/*Tag used to mark the presents that have been booked by the guests*/
.booked {
  text-decoration: line-through;
  opacity: 35%;
}

/*Class for a div, additionally marking the booked presents (assigned automatically by JavaScript)*/
.booked-marker {
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  width: 10vw;
  height: auto;
  background-color: gray;
  text-decoration: none;
}
